.dart_tool/
.pub/
.pub-cache/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
coverage/
*.log
flutter_*.log
android/.gradle/
android/.cxx/
android/captures/
android/local.properties
android/key.properties
key.properties
android/app/debug
android/app/profile
android/app/release
android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
.vscode/
*.iml
.idea/
*.jks
*.keystore
.env
.env.*
.DS_Store
