.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
flutter_*.log
android/.gradle/
android/local.properties
android/key.properties
android/app/debug
android/app/profile
android/app/release
.vscode/
*.iml
.idea/
*.jks
*.keystore
.env
.env.*
